<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="website.yuchen.dao.UserMapper">
    <insert id="insert" parameterType="UserBean">
        insert into User(id, name, age, address)
        values(#{id}, #{name}, #{age}, #{address})
    </insert>

    <delete id="deleteById" parameterType="Integer">
        delete from User where id=#{id}
    </delete>

    <update id="update" parameterType="UserBean">
        update User set name=#{name}, age=#{age},
                        address=#{address} where id=#{id}
    </update>

    <select id="findById" parameterType="Integer" resultType="UserBean">
        select * from User where id=#{id}
    </select>

    <select id="findAll" resultType="UserBean">
        select * from User;
    </select>

</mapper>